/*************************************************************

GENERAL
**************************************************************/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "黑体";
  background: #ccc;
  font-size: 12px;
}
